.dialogue {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    padding: 18px 18px;
    font-weight: bold;
}

.dialogue:hover {
    background-color: #ffdb4d;
}

.dialogue_active {
    background-color: #fcc521;
}

.dialogue_active:hover {
    background-color: #fcc521;
}
