.messenger {
    display: grid;
    grid-template-rows: 50px 90vh;
    width: 1024px;
}

.messenger__main {
    width: 1024px;
    display: grid;
    grid-template-columns: 256px 768px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    box-sizing: border-box;
}
