.messenger {
    width: 1024px;
    height: 95vh;
    display: grid;
    grid-template-columns: 256px 768px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
}
