.message {
    width: 512px;
    padding: 10px 100px;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0px auto;
}

.message__username {
    color: #3a6d99;
    font-weight: 700;
    margin-bottom: 5px;
}
